{%- extends "v2/base.html" -%}
{%- from "v2/_macros.html" import info -%}
{% block title %}{{ words.title }} · Monitoring · NMAS{% endblock %}
{% block main %}
<div class="page-head">
  <div class="page-title">
    <h1>{{ words.title }} {{ info('monitoring-templates', 'what-apply-does') }}</h1>
    <p class="sub">{{ words.sub }}</p>
  </div>
</div>
{% include "v2/_monitoring_tabs.html" %}
<div class="tab-body">
{% include "v2/_apply_preview.html" %}
<div id="apply-result"></div>
</div>
{% endblock %}
